<!DOCTYPE HTML>
<html lang='ja'>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link href="/static/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div align='center'>
    <img src={{url_for('static', filename='uploads/'+filename)}} style="max-width: 400px;">
    </div>
    <br>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr><th>Prob</th><th>id</th><th>name</th></tr>
        </thead>
        <tbody>
            {% for i, prb, name in top %}
            <tr><th scope="row">{{prb}}</th><td>{{i}}</td><td>{{name}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"-->
    <!--script src="/static/js/bootstrap.min.js"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
